.tiff-list {
	display: grid;
	grid-template-columns: repeat(2, 100px);
	grid-template-rows: repeat(2, 50px);
  gap: 8px;
}
.tiff-option {
	border: 1px solid #ddd;
	padding: 8px 16px;
	border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;

  &.active {
    color: #a5ffe4;
    background: #ff6699;
  }
  &:hover {
    color: #444;
    background: #aabbff;
    transition: 0s;
  }
}
